.imageCell {
  padding:2%;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  background-color: red;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:0%;
  width: 100%;
  height: auto;
}